body{
    max-width: 100%;
}

.progressyazifont{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#github{
    font-size: 1.6vh; 
    margin-top: 40px;
    text-decoration: none;
    cursor:default;
}

#github:active{
    background-color: black;
    border-radius: 40px;
}

#github:hover{
    background: none;
    color: black;
}

#instagram{
    font-size: 1.6vh;
    margin-top: 40px;
    text-decoration: none;
    cursor:help;
}

#unity{
    font-size: 1.6vh;
    margin-top: 40px;
    text-decoration: none;
    cursor: default;
}

.progress{
    width: 20%;
}


.box {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    
}
.mouse {
    width: 35px;
    height: 50px;
    border: 4px solid #efefef;
    border-radius: 60px;
    position: relative;
}

.mouse::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #efefef;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: anim 1.8s infinite;
}
.js-progress{
    background-color: transparent;
    background-image: linear-gradient(to right, #ffffff 0%, #000000 100%);
}
.home-wallpaper{
display: inline;
}
.footer-bar{
    background-color: black;
    color: aquamarine;
    height: 150px;
    width: 100%;
}

@keyframes anim {
    from {
        opacity: 1;
        top: 5px;
    }
    to {
        opacity: 0;
        top: 25px;
    }
}














.dolorsitamet {
   background-color: #1a1a1a;
   color: #fefefe;
   font-family: 'Ubuntu';
   text-transform: uppercase;
   letter-spacing: 0.2em;
   font-size: 1.3em;
   line-height: 2;
   font-weight: 300;
   text-rendering: optimizeLegibility;
   text-align: center;
 }
 
 .container {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
 }
 
 .txt {
   display: block;
 }
 
/* dijital saat */

.clock{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #ebebebd1;
    text-shadow: 0 0 20px rgba(160, 160, 160, 0.73),  0 0 20px rgba(10, 175, 230, 0);
}
.time{
    letter-spacing: 0.10em;
    font-size: 20px;
    margin-bottom: -10px;
}
.date{
    letter-spacing: 0.01em;
    font-size: 13px;
    text-align: center;
    font-family: 'Open Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
.clock-img{
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%, -50%);

}
 @import url(https://fonts.googleapis.com/css?family=Ubuntu:300);